body {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;

  background-color: #2A0A1B;
}

p {
	color: white;
}



#pop{
	color: white;
}

#shrink {
	width:10em;
	height:10em;
}

#purps {
	color: purple;
	font-size: 1.25em;
}